body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: #fff;
}

/* Bara de sus */
.topnav {
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.topnav a {
    float: left;
    color: #00e6e6;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #00e6e6;
    color: black;
}

.topnav a.active {
    background-color: #008080;
    color: white;
}

.hero.home-bg {
    background: url("media/gratarbg.jpg") center/cover no-repeat;
}

.hero.robotica-bg {
    background: url('media/roboticagrupiasi2.jpg') center/cover no-repeat;
}

.hero.electronica-bg {
    background: url('media/electroboss2.jpg') center/cover no-repeat;
}

.hero.voluntariat-bg {
    background: url('media/test.jpg') center/cover no-repeat;
}

.hero.voluntariat-bg::before {
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(2px);
}

/* Hero section */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2); 
    /* modifica ult val pt opacitate*/
    backdrop-filter: blur(1px);
}

.hero h1,
.hero h2 {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    color: #00e6e6;
    font-family: 'Courgette', cursive;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
}

.content {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(255,255,255,0.05);
    border-radius: 12px;
    color: #fff;
}

.content h1 {
    font-family: 'Courgette', cursive;
    color: #00e6e6;
    text-align: center;
    margin-bottom: 30px;
}

.proiect {
    margin-bottom: 40px;
    text-align: center;
}

.proiect h2 { /*subtitlu*/
    color: #ffd700;
    margin-bottom: 10px;
}

.proiect p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.proiect img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.image-row {
    display: flex;              
    justify-content: center;    
    gap: 20px;                  
    margin-bottom: 20px;        
    flex-wrap: wrap;            
}

.image-row img {
    width: 45%;                 
    height: 300px;              
    object-fit: cover;          
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    transition: transform 0.5s ease; /* Efect fin la hover */
}


.image-row img:hover {
    transform: scale(1.05);
}


@media (max-width: 600px) {
    .image-row img {
        width: 100%;
        height: auto;
    }
}